.login-inner-card {
  background-color: #F4FAFD !important;
}

.form-input-div{
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
}

.form-control {
  background-color: transparent !important;
  border: none !important;
}

.login-line {
  width: 100%;
  height: 2px;
  background-color: var(--gray-color);
  margin: 20px auto;
}

.login-img-div{
  width: 100%;
  height: auto;
  max-width:550px;
  object-fit: contain;

}

.login-bg{
  background-color: #F4FAFD;
  width: 100vw;
  height: 100vh;
}

.login-img-div img{
  width: 100%;
  height: 100%;
}

/* scroll */

.login-scroll{
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.login-scroll::-webkit-scrollbar {
  display: none;
}