@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;1,300;1,400;1,700;1,800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --sky-blue: #0097DB;
  --gray-color: #f7f7f7;
  --dark-gray: #aeaeae;
  --dark-gray-2: #868686;
  --light-voilet: #F9F7FB;
  --voilet-color :#46127B; 
  --light-voilet-2: #9D85C1;
}


/* general css */
.uc {
  text-transform: uppercase;
}

.list-remove {
  list-style: none;
}

.a-remove {
  text-decoration: none;
}


/* customize */

.text-light-voilet {
  color: var(--light-voilet-2)
}
.text-skyblue{
  color: var(--sky-blue);
}

.text-voilet{
  color: var(--voilet-color);
}

.fw-800{
  font-weight: 800 !important;
}

.ts {
  font-size: small !important;
}

.txs{
  font-size: x-small !important;
}

.tm {
  font-size: medium !important;
}

.tl {
  font-size: large !important;
}

.fw-300{
  font-weight: 300;
}

.cursor-pointer{
  cursor: pointer;
}

/* component */



.btn-blue{
  border: 1px solid  var(--sky-blue)  !important;
  background-color: var(--sky-blue) !important;
  color: white !important;
  border-radius: 3px !important;
  box-shadow: none !important;
}


.btn-border {
  border: 1px solid var(--dark-gray) !important;
  background-color: transparent !important;
  color: var(--black-color) !important;
  border-radius: 3px !important;
  box-shadow: none !important;
}



.btn-border:hover {
  border: 1px solid var(--dark-gray) !important;
  background-color: #f7f7f7 !important;
  color: var(--black-color) !important;
  border-radius: 3px !important;
  box-shadow: none !important;
}

.title{
  color: var(--black-color);
  font-size: xx-large;
}

.para {
  font-size: smaller;
  font-weight: 400;
  color: var(--dark-gray-2);
}

.text-voilet{
  color: var(--voilet-color);
}