.footer-ul li a {
  color: #646464 !important;
  font-size: small;
}

.footer-ul li a:hover {
  color: #0384f4 !important;
}

.footer-ul li  {
 margin-bottom: 15px;
}

.social-p {
  font-size: 9px;
  color: white;
}

.social-h6 {
  font-size: 13px;
}

.social-icon {
  border: 1px solid var(--dark-gray);
}

.social-icon:hover {
  border: 1px solid var(--dark-gray);
  background-color: var(--gray-color);
}

.footer-description{
  font-size: 12px;
}